<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.elorrieta.euskomet">

    <!-- Permiso para poder el estado de la red en el teléfono -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- Permiso para poder acceder a internet -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- Permiso para cámara -->
    <!-- uses-permission android:name="android.permission.CAMERA" / -->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/file_paths" />

        <activity android:name=".InfoEspacios" />
        <activity android:name=".ListaEspacios" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyD8_C6tC9dXhtsQ7IvfiYIq3iZZKdn0Oag" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.elorrieta.euskomet.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity android:name=".GoogleMaps" />
        <activity android:name=".Historico" />
        <activity android:name=".Info" />
        <activity android:name=".Lista" />
        <activity android:name=".menuprincipal" />
        <activity android:name=".RecuperarContra" />
        <activity android:name=".RegistrarUsuario" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>